@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <!--   <div class="embed-responsive embed-responsive-16by9">
           <iframe class="embed-responsive-item" src=""></iframe>
       </div> -->
    <div class="jumbotron text-center">
        <h1>Halloween eGreetings for All!!</h1>
    </div>

    <div class="col-xs-12 col-md-6">
        <form method="post">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <div class="h-confirm">
                        <h2>This is my @Model.name</h2>
                    </div>
                    <label for="to_name">To:</label>
                    <input type="text" name="name" placeholder="Recipient's Name" maxlength="70" class="form-control to_name" />
                </div>
                <div class="col-sm-6 form-group">
                    <label for="to_email">Recipient Email:</label>
                    <input type="email" class="form-control" id="to_email" name="email" placeholder=" Enter Recipient's Email Address">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="from_name">From:</label>
                    <input class="form-control" id="from_name" style="text-transform: capitalize" name="name" placeholder=" Name: First & Last" type="text" maxlength="70">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="from_email">Your Email:</label>
                    <input class="form-control" id="from_email" name="email" placeholder=" Enter Your Email" type="email">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" name="subject" placeholder=" Enter Email Subject" maxlength="100">
                    <div class="countdown"></div>
                    <div class="col-sm-12 form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" name="message" placeholder=" Enter your message" rows="5" maxlength="500">
                    </textarea>
                        <span asp-validation-for="message" class="text-danger"></span>
                        <div class="countdown"></div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="g-recaptcha" data-sitekey="MyKey"></div>
                        <br />
                        <button class="btn btn-default pull-left" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

    @*<script src='https://www.google.com/recaptcha/api.js'></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>